<header>
    <div class="header-container">
        <img src="../assets/logo.png" alt="Logo du forum" class="logo">
        <button class="mobile-menu-toggle">☰</button>
        <nav>
            <ul>
                <!--li><a href="index.html">Accueil</a></li-->
                <li><a href="forum.html">Forum</a></li>
                <li><a href="resources.html">Ressources</a></li>
                <li><a href="specialistes.html" class="active">Spécialistes</a></li>
                <li><a href="events.html">Evenements</a></li>
                <li><a href="contact.html">contact</a></li>
                <li><a href="logout.html" class="cta-button">Se déconnecter</a></li>
            </ul>
        </nav>
    </div>
</header>
</header>
